<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSCameraUsageDescription</key>
  <string>현장 QR 코드를 스캔하고 작업 정보를 확인하기 위해 카메라를 사용합니다.</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>현장 라이브 통역과 음성 대화를 제공하기 위해 마이크를 사용합니다.</string>
  <key>NFCReaderUsageDescription</key>
  <string>근로자와 현장 정보를 확인하기 위해 SAFE-LINK NFC 태그를 읽습니다.</string>
  <key>NSAppTransportSecurity</key>
  <dict>
    <key>NSAllowsArbitraryLoads</key>
    <false/>
    <key>NSAllowsArbitraryLoadsInWebContent</key>
    <false/>
  </dict>
</dict>
</plist>
